* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}
:invalid {
  border: 1px solid red;
}
.invalid {
  color: red;
  background: #fff;
  display: none;
}
input[type="number"] {
  width: 3em;
  padding: 0 0 0 5px;
  margin-top: 5px;
  font-size: 1.5em;
  color: #000;
  background: #dde;
  text-align: center;
}
input:disabled {
  background: 0 0;
  border: none;
}
.button-link {
  cursor: pointer;
}
#sundial {
  height: 700px;
  width: 100%;
}
.rating {
  position: absolute;
  text-align: center;
  z-index: 10;
}
#myCanvas {
  display: block;
  position: relative;
  top: 100px;
  left: 200px;
}
#content {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

#sharing {
  background: #fff;
  padding: 1em auto;
  width: 100%;
}
#yourname {
  font-size: 40px;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
#yourname_edit {
  display: none;
  font-size: 25px;
  padding: 10px;
  height: 50px;
}
