.arc.active {
  visibility: visible;
}

.label.active {
  visibility: visible;
}

.arc.inactive {
  opacity: 0.2;
}

.label.inactive {
  visibility: hidden;
}

.arc:hover {
  opacity: 0.8;
}

.label:hover {
  visibility: visible;
}

.arc:hover + .label {
  visibility: visible;
}

.label.inactive:hover {
  visibility: hidden;
}
