.arc.active,
.label.active,
.label:hover,
.arc:hover + .label {
  visibility: visible;
}

.label.inactive,
.label.inactive:hover {
  visibility: hidden;
}

.arc.inactive {
  opacity: 0.2;
}

.arc:hover {
  opacity: 0.8;
}